#jqt.fullscreen #home .info {
    display: none;
}
div#jqt #about {
    padding: 100px 10px 40px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0;
    color: #999;
    font-size: 13px;
    text-align: center;
    background: #161618;
}
div#jqt #about p {
    margin-bottom: 8px;
}
div#jqt #about a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.individual>li{
    margin: 3px;
    float: left !important;
}

.toolbar{
    background: #1b2c3c !important;
}